/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/saga-blue/theme.css"; // You can choose a different theme
@import "primeng/resources/primeng.min.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    color:#222e39;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";



.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.swal2-confirm.btn-warning {
  background-color: #ffcc00;
    padding-inline: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    font-weight: bold;
    color: #222e39;
    transition: ease 0.3s, box-shadow 0.3s ease;
    border-radius: 0px;
}

.base{
  background-color: rgb(248, 248, 248)
}

/* INPUT GROUP COSAS */
.input-group-text {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #ffcc00 !important; /* Fondo amarillo para el icono */
  border: none !important; /* Sin borde */
  font-size: x-large ;
  
}

.input-group .form-control {
  border: none !important; /* Quitar el borde de los inputs */
  background-color: #e8e8e8 !important; /* Fondo gris oscuro para los inputs */
  color: #333 !important; /* Texto de color oscuro */
  box-shadow: none !important; /* Eliminar sombra */
}

.input-group .form-control::placeholder {
  color: #666 !important; /* Color del placeholder */
}

/* Modificar el borde al enfocar (focus) y aplicarlo al input-group */
.input-group:focus-within {
  outline: none !important; /* Eliminar el borde por defecto */
  box-shadow: 0 0 0 2px #ffcc00 !important; /* Añadir un borde fino de color amarillo */
  border-radius: 8px !important; /* Añadir esquinas redondeadas */
  transition: ease 0.3s !important;
}


//FORM SELECT COSAS
.form-select{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #e8e8e8 !important; /* Fondo amarillo para el icono */
  border: none !important; /* Sin borde */
}

.form-select :focus-within {
  outline: none !important; /* Eliminar el borde por defecto */
  box-shadow: 0 0 0 2px #ffcc00 !important; /* Añadir un borde fino de color amarillo */
  border-radius: 8px !important; /* Añadir esquinas redondeadas */
  transition: ease 0.3s !important;
}

.form-select {
  border: none !important; /* Quitar el borde de los inputs */
  background-color: #e8e8e8 !important; /* Fondo gris oscuro para los inputs */
  color: #333 !important; /* Texto de color oscuro */
  box-shadow: none !important; /* Eliminar sombra */
}



@import "../node_modules/bootstrap/scss/variables";

$primary:       $blue;
$secondary:     #6c757d;
$success:       $green;
$info:          $cyan;
$warning:       #ffcc00;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

//futhermore it's necesary override the $theme-colors

$theme-colors: (


 "primary":    $primary,
 "secondary":   $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,

);


@import '../node_modules/bootstrap/scss/bootstrap.scss';



body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
