.hero-section {
    background-color: #ffcc00;
    min-height: calc(100vh - 72px);
    overflow-x: hidden;
    background-image: url('data:image/svg+xml;utf8,<svg id="patternId" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"><defs><pattern id="a" patternUnits="userSpaceOnUse" width="69.141" height="40" patternTransform="scale(6) rotate(0)"><rect x="0" y="0" width="100%" height="100%" fill="#ffffffff"/><path d="M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z" stroke-width="1" stroke="#836e02ff" fill="none"/></pattern></defs><rect width="800%" height="800%" transform="translate(0,0)" fill="url(#a)"/></svg>');
    background-repeat: repeat;
}


.contenido {
    min-height: calc(100vh - 136px);
}

.row{


}


.leftContent{

    padding: 25px;
    border-radius: 5px;
    min-height: calc(100vh - 136px);
    
    

    h1{
        font-size: 80px;
        font-weight: 900;
        color: #222e39;
    }

    p{
        margin-top: 25px;
        font-size: 18px;
    }

    .registro {
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 50px;
        background-color: #131313;
        color: white;
        border: black 1px solid;
        display: inline-flex;
        align-items: center;
        position: relative; 
        padding-right: 45px; 
        transition: all 0.3s ease; 

        i{
            color: white;
        }
    
        .flecha {
            transition: transform 0.3s ease; 

            position: absolute; 
            right: 20px; 
        }
    }

    .registro2 {
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 50px;
        background-color: #ffffff;
        color: black;   
        display: inline-flex;
        align-items: center;
        position: relative; 
        padding-right: 45px; 
        transition: all 0.3s ease; 

        i{
            color: black;
        }
    
        .flecha {
            transition: transform 0.3s ease; 

            position: absolute; 
            right: 20px; 
        }
    }
    
    .registro:hover {
        background-color: #1d1d1d;
    }
    
    .registro:hover .flecha {
        transform: translateX(7px); 
    }

    .registro2:hover {
        background-color: #fff6d8;
    }
    
    .registro2:hover .flecha {
        transform: translateX(7px); 
    }
    
    .sesion {
        color: #000000a5;
        cursor: pointer;
    }



}


.rightContent{

    padding: 15px;
    border-radius: 5px;

    align-items: center;

    img{
        max-height: 300px;
    }
    
}





.footerHolder{
    background-color: white;    
}

footer {
    width: 90%;
    margin: auto;
    z-index: 10;
    bottom: -15px;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
   
}


.icon{
    color: rgb(254, 85, 70);
}


.navLink{
    text-decoration: none;
    color: #222e39;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease; /* Para transiciones suaves */
}

.navLink:hover{
    color: #6e6e6e;
}