<div class="container-fluid p-0">
  <div class="hero-section">
    <!-- BLOQUE 1 PRINCIPAL NO LOGEADO -->
    <div *ngIf="!isLoggedIn">
      <div class="contenido">



        <div class="row">
          <div class="col-lg-6 ">
            <div class="leftContent d-flex align-items-center justify-content-center text-center">
              <div>
                <h1 class="display-5 tex-center">Logra tus objetivos<br> organizándote</h1>
                <div class="botonera d-flex align-items-center justify-content-center mt-4">
                  <a class="shadow boton registro d-flex align-items-center me-2" routerLink="/auth/register">
                    <i class="fa-regular fa-user" style="margin-inline-end: 10px;"></i>Regístrate ahora
                    <i class="bi bi-chevron-right flecha"></i>
                  </a>
                  <a class="shadow boton registro2 d-flex align-items-center" routerLink="/auth/login">
                    <i class="fa-regular fa-user" style="margin-inline-end: 10px;"></i>Inicia sesión ahora
                    <i class="bi bi-chevron-right flecha"></i>
                  </a>
                  

                </div>
                <div class="text-center mt-5 mb-2">
                  <img class="img-fluid mt-5" src="../../../../../assets/img/LogosAppStoreGooglePlay_W.png"
                    style="height: 60px;">
                </div>
                <a class=" text-dark">Aplicacion móvil no disponible</a>


              </div>

            </div>
          </div>

          <div class="col-lg-6 m-0 p-0">
            <div class="leftContent d-flex align-items-center justify-content-center">
              <div class="w-75">
                <img class="img-fluid rounded" src="../../../../../assets/img/bannerIndex.png">
                <p class="mb-4 text-center">
                  Organiza tus rutinas de entrenamiento, registra tus marcas personales, sigue tus ejercicios diarios y
                  diseña
                  dietas personalizadas con tus comidas favoritas. ¡Todo en un solo lugar!
                </p>

              </div>
            </div>
          </div>
        </div>





      </div>




















































      <!-- FOOTER -->
      <div class="footerHolder mt-5 mt-lg-0">
        <footer class="d-flex flex-column flex-md-row justify-content-between text-center text-md-start">
          <a href="https://github.com/pablolop12" target="_blank" aria-label="Enlace a mi GitHub"
            class="navLink mb-2 mb-md-0"><i class="bi bi-fire me-1 icon"></i>Hecho por Pablo López L.</a>
          <a href="https://github.com/pablolop12/Routine-Manager" target="_blank" aria-label="Enlace al código fuente"
            class="navLink">Código fuente</a>
        </footer>
      </div>
    </div>

    <!-- BLOQUE 2 LOGEADO -->
    <div *ngIf="isLoggedIn">
      <div class="contenido">
        <div class="container pt-3">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8">
              <div class="bg-white rounded p-3 text-center">
                <h3 class="fs-4 fs-md-3">Te damos la bienvenida, {{user.name}}</h3>
                <p>Este es tu panel de usuario, navega entre las pestañas para empezar a organizar tu mundo fitness.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="footerHolder">
        <footer class="d-flex flex-column flex-md-row justify-content-between text-center text-md-start mb-3">
          <a href="https://github.com/pablolop12" target="_blank" aria-label="Enlace a mi GitHub"
            class="navLink mb-2 mb-md-0"><i class="bi bi-fire me-1 icon"></i>Hecho por Pablo López L.</a>
          <a href="https://github.com/pablolop12/Routine-Manager" target="_blank" aria-label="Enlace al código fuente"
            class="navLink">Código fuente</a>
        </footer>
      </div>
    </div>
  </div>
</div>